@model InsightCorp.Models.UserViewModel
@{
    ViewBag.Title = "Index";
}

<h2>Company Employee List</h2>
<p>*Manager names are in bold*</p>

<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Employee ID</th>
            <th>First Name</th>
            <th>Middle Initial</th>
            <th>Last Name</th>
            <th>Department</th>
            <th>Job Title</th>
            <th>Email</th>
            <th>Phone Number</th>
            @if (User.IsInRole("Manager") || User.IsInRole("Executive"))
            {
                <th>Salary</th>
                <th>Delete</th>
            }
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model.Users)
        {
        <tr>
            <td>@user.Id</td>
            @if (user.Role == "Manager")
            {
                <td><span style="font-weight:bold">@user.FirstName</span></td>
                <td><span style="font-weight:bold">@user.MiddleInitial</span></td>
                <td><span style="font-weight:bold">@user.LastName</span></td>
            }
            else
            {
                <td>@user.FirstName</td>
                <td>@user.MiddleInitial</td>
                <td>@user.LastName</td>
            }
            <td>@user.DepartmentName</td>
            <td>@user.JobTitle</td>
            <td>@user.Email</td>
            <td>@user.PhoneNumber</td>
            @if (User.IsInRole("Manager") || User.IsInRole("Executive"))
            {
                foreach (var payroll in Model.Payrolls)
                {
                    if (payroll.UserId == user.Id)
                        {
                            <td>@payroll.Salary</td>
                        }
                }
                <td>@Html.ActionLink("Delete", "Delete", new { id = user.Id})</td>
            }
        </tr>
        }
    </tbody>
</table>
@{
    if (User.IsInRole("Manager"))
    {
        @Html.ActionLink("Register New User", "Register", "Account");
    }
    if (User.IsInRole("Executive"))
    {
        @Html.ActionLink("Register New User", "Register", "Account");
    }
}

